<%- include("./partials/header") %> 
    <div class="flex_top">
        <div class="nav">
            <div class="top">
                <img src="/resources/images/it2.jpg" alt="user_image">
                <h1 class="name"><%= user.username %> </h1>
                <h1 class="title"><%= user.role %> </h1>
            </div>
            <div class="bottom">
                <ul><% if(user.role == "Admin"){ %> 
                    <li class="sm">Staff Management</li>
                    <li><a href="/addStaff">Add Staff</a></li>
                    <li><a href="/searchStaff">Search Staff</a></li>
                        <li><a href="/manageSchedule">Manage Schedule</a></li>
                    <% } %> 
                    <li class="sm">Patient Management</li>
                    <li class="selected"><a href="/searchPatient">Search Patient</a></li>
                    <% if(user.role == "Records"){ %> 
                        <li><a href="/addPatient">Add Patient</a></li>
                    <% } %> 
                    <li><a href="/editInfo">Edit info</a></li>
                </ul>
                <div class="log">
                    <a class="lo" href="/logOut">LogOut</a>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="add_staff">
                <h2 class="title">
                    medical info - <%= dbPatient.username %> 
                </h2>
                <div class="form">
                    <form action="/patient/<%= dbPatient._id %>/addData" method="post">
                        <div class="name mb">
                            <div class="fullname">
                                <label for="">B.P: </label>
                                <input type="text" name="BP" placeholder="Enter patient blood Presure">
                            </div>
                            <div class="dob">
                                <label for="">Weight: </label>
                                <input type="text" name="weight" placeholder="Enter patients current weight">
                            </div>
                        </div>
                        <div class="others mb">
                            <div class="flex mb">
                                <div class="one mb">
                                    <label for="">Pre-existing condition</label>
                                    <input type="text" name="knownCondition" placeholder="Enter known patient condition">
                                </div>
                                <div class="two">
                                    <label for="">Pre-existing condition</label>
                                    <input type="text" name="knownCondition1" placeholder="Enter known patient condition">
                                </div>
                            </div>
                            <div class="flex mb">
                                <div class="one mb">
                                    <label for="">Pre-existing condition</label>
                                    <input type="text" name="knownCondition2" placeholder="Enter known patient condition">
                                </div>
                                <div class="two">
                                    <label for="">Pre-existing condition</label>
                                    <input type="text" name="knownCondition3" placeholder="Enter known patient condition">
                                </div>
                            </div>
                            <div class="flex mb">
                                <div class="one mb">
                                    <label for="">Other Neccessary Information</label>
                                    <textarea name="info" id="" cols="70" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="others mb">
                            <div class="flex mb">
                                <div class="one mb">
                                    <label for="">Blood Type</label>
                                    <input type="text" name="bloodtype" placeholder="Enter Patients blood type">
                                </div>
                                <div class="two">
                                    <label for="">Geno-type</label>
                                    <input type="text" name="genotype" placeholder="Enter Patients Geno-type">
                                </div>
                            </div>
                            <div class="flex mb">
                                <div class="one mb">
                                    <div class="one mb">
                                        <label for="">Data From Test</label>
                                        <textarea name="testInfo" id="" cols="70" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="others">
                            <div class="flex mb">
                                <div class="one mb">
                                    <label for="">Diagnosis</label>
                                    <input type="text" name="diagnosis" placeholder="Enter Patient diagnosis">
                                </div>
                                <div class="two">
                                    <label for="">Notes on diagnosis</label>
                                    <textarea name="diagnosisNotes" id="" cols="50" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="flex mb">
                                <div class="one mb">
                                    <div class="one mb">
                                        <label for="">Prescription</label>
                                        <textarea name="prescription" id="" cols="50" rows="5" placeholder="Prescribe medication"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="change umm">
                            <input type="submit" value="Submit" class="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
<%- include("./partials/footer") %> 