<%- include("./partials/header") %> 
    <div class="flex_top">
        <div class="nav">
            <div class="top">
                <img src="/resources/images/it2.jfif" alt="user_image">
                    <h1 class="name"><%= user.username %> </h1>
                <h1 class="title"><%= user.role %> </h1>
            </div>
            <div class="bottom">
                <ul>
                    <% if(user.role == "Admin"){ %> 
                    <li class="sm">Staff Management</li>
                    <li><a href="/addStaff">Add Staff</a></li>
                    <li><a href="/searchStaff">Search Staff</a></li>
                    <li><a href="/manageSchedule">Manage Schedule</a></li>
                    <% } %> 
                    <li class="sm">Patient Management</li>
                    <li class="selected"><a href="/searchPatient">Search Patient</a></li>
                    <% if(user.role == "Records"){ %> 
                        <li class="selected"><a href="/addPatient">Add Patient</a></li>
                    <% } %> 
                    <li><a href="/editInfo">Edit info</a></li>
                </ul>
                <div class="log">
                    <a class="lo" href="/logOut">LogOut</a>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="add_staff">
                <h2 class="title">
                    Patient Info
                </h2>
                <div class="all">
                    <div class="data group">
                        <div class="i">
                            <p>Patient Name: </p>
                            <div class="name"><%= dbPatient.username %> </div>
                        </div>
                        <div class="i">
                            <p>Date of first visit: </p>
                            <div class="name"><%= dbPatient.dateAdded.toDateString(); %> </div>
                        </div>
                        <div class="i">
                            <p>sex: </p>
                            <div class="name"><%= dbPatient.gender %> </div>
                        </div>
                        <div class="i">
                            <p>Patient Phone number: </p>
                            <div class="name"><%= dbPatient.contact %> </div>
                        </div>
                        <div class="i">
                            <p>Patient ID: </p>
                            <div class="name"><%= dbPatient.pID %> </div>
                        </div>
                        <div class="i">
                            <p>Date of birth: </p>
                            <div class="name"><%= dbPatient.dob %> </div>
                        </div>
                        <div class="i">
                            <p>Patient Home address: </p>
                            <div class="name"><%= dbPatient.address %> </div>
                        </div>
                        <div class="i">
                            <p>Patient emergency contact: </p>
                            <div class="name"><%= dbPatient.emergency %> </div>
                        </div>
                        <div class="i">
                            <p>Marital status: </p>
                            <div class="name"><%= dbPatient.maritalStatus %> </div>
                        </div>
                    </div>
                    <% pmedData.forEach(data=>{  %>
                        <div class="meddata group">
                            <div class="i">
                                <div class="name d"><%= data.dateAdded.toDateString() %> </div>
                            </div>
                            <div class="i">
                                <p>Blood pressure: </p>
                                <div class="name"><%= data.BP %> </div>
                            </div>
                            <div class="i">
                                <p>weight: </p>
                                <div class="name"><%= data.weight %> </div>
                            </div>
                            <div class="i">
                                <p>Patients known conditions: </p>
                                <div class="name"><%= data.knownCondition %> </div>
                            </div>
                            <div class="i">
                                <div class="name"><%= data.knownCondition1 %> </div>
                            </div>
                            <div class="i">
                                <div class="name"><%= data.knownCondition2 %> </div>
                            </div>
                            <div class="i">
                                <div class="name"><%= data.knownCondition3 %> </div>
                            </div>
                            <div class="i">
                                <p>Info fron nurse: </p>
                                <div class="name"><%= data.info %> </div>
                            </div>
                            <div class="i">
                                <p>Patients genotype: </p>
                                <div class="name"><%= data.genotype %> </div>
                            </div>
                            <div class="i">
                                <p>Patients bloodtype: </p>
                                <div class="name"><%= data.bloodtype %> </div>
                            </div>
                            <div class="i">
                                <p>Info from lab: </p>
                                <div class="name"><%= data.testInfo %> </div>
                            </div>
                            <div class="i">
                                <p>diagnosis: </p>
                                <div class="name"><%= data.diagnosis %> </div>
                            </div>
                            <div class="i">
                                <p>doctors notes: </p>
                                <div class="name"><%= data.diagnosisNotes %> </div>
                            </div>
                            <div class="i">
                                <p>prescription: </p>
                                <div class="name"><%= data.prescription %> </div>
                            </div>
                            <div class="i">
                                <p>Total cost of treatment: </p>
                                <div class="name"><%= data.bill %> </div>
                            </div>
                        </div>
                     <%  }) %>
                </div> 
            </div>
        </div>
    </div>
    
<%- include("./partials/footer") %> 