<%- include("./partials/header") %> 
    <div class="flex_top">
        <div class="nav">
            <div class="top">
                <img src="/resources/images/it2.jpg" alt="user_image">
                    <h1 class="name"><%= user.username %> </h1>
                <h1 class="title"><%= user.role %> </h1>
            </div>
            <div class="bottom">
                <ul>
                    <% if(user.role == "Admin"){ %> 
                    <li class="sm">Staff Management</li>
                    <li><a href="/addStaff">Add Staff</a></li>
                    <li><a href="/searchStaff">Search Staff</a></li>
                    <li><a href="/manageSchedule">Manage Schedule</a></li>
                    <% } %> 
                    <li class="sm">Patient Management</li>
                    <li class="selected"><a href="/searchPatient">Search Patient</a></li>
                    <% if(user.role == "Records"){ %> 
                        <li class="selected"><a href="/addPatient">Add Patient</a></li>
                    <% } %> 
                    <li><a href="/editInfo">Edit info</a></li>
                </ul>
                <div class="log">
                    <a class="lo" href="/logOut">LogOut</a>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="add_staff">
                <h2 class="title">
                    Patient Info
                </h2>
                <div class="data">
                    <div class="name"><%= dbPatient.username %> </div>
                    <div class="name"><%= dbPatient.dateAdded %> </div>
                    <div class="name"><%= dbPatient.gender %> </div>
                    <div class="name"><%= dbPatient.contact %> </div>
                    <div class="name"><%= dbPatient.pID %> </div>
                    <div class="name"><%= dbPatient.dob %> </div>
                    <div class="name"><%= dbPatient.address %> </div>
                    <div class="name"><%= dbPatient.emergency %> </div>
                    <div class="name"><%= dbPatient.maritalStatus %> </div>
                </div>
                <% pmedData.forEach(data=>{  %>
                    <div class="data">
                        <div class="name"><%= data.pID %> </div>
                        <div class="name"><%= data.BP %> </div>
                        <div class="name"><%= data.weight %> </div>
                        <div class="name"><%= data.knownCondition %> </div>
                        <div class="name"><%= data.knownCondition1 %> </div>
                        <div class="name"><%= data.knownCondition2 %> </div>
                        <div class="name"><%= data.knownCondition3 %> </div>
                        <div class="name"><%= data.info %> </div>
                        <div class="name"><%= data.testInfo %> </div>
                        <div class="name"><%= data.genotype %> </div>
                        <div class="name"><%= data.bloodtype %> </div>
                        <div class="name"><%= data.diagnosis %> </div>
                        <div class="name"><%= data.diagnosisNotes %> </div>
                        <div class="name"><%= data.prescription %> </div>
                        <div class="name"><%= data.bill %> </div>
                    </div>
                 <%  }) %> 
            </div>
        </div>
    </div>
    
<%- include("./partials/footer") %> 