<%- include("./partials/header") %> 
    <div class="flex_top">
        <div class="nav">
            <div class="top">
                <img src="./resources/images/it2.jpg" alt="user_image">
                <h1 class="name"><%= user.username %> </h1>
                <h1 class="title"><%= user.role %> </h1>
            </div>
            <div class="bottom">
                <ul>
                    <% if(user.role == "Admin"){ %> 
                    <li class="sm">Staff Management</li>
                    <li><a href="/addStaff">Add Staff</a></li>
                    <li><a href="/searchStaff">Search Staff</a></li>
                    <li><a href="/manageSchedule">Manage Schedule</a></li>
                    <% } %> 
                    <li class="sm">Patient Management</li>
                    <li class="selected"><a href="/searchPatient">Search Patient</a></li>
                    <% if(user.role == "OPD"){ %> 
                        <li><a href="/addPatient">Add Patient</a></li>
                    <% } %> 
                    <li><a href="/editInfo">Edit info</a></li>
                </ul>
                <div class="log">
                    <a class="lo" href="/logOut">LogOut</a>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="add_staff">
                <h2 class="title">
                    Search Patient
                </h2>
                <div class="form">
                    <form action="">
                        <div class="searches mb">
                            <div class="search">
                                <input type="search" name="username" placeholder="Enter patient username or ID" required>
                                <img src="../resources/icons/search.png" alt="search icon">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="list">
                    <div class="cards">
                        <% allPatients.forEach(Patient=>{ %>
                            <a href="/patient/<%= Patient.id %>">
                                <div class="card">
                                    <div class="name mbs"> <b><%= Patient.username %></b></div>
                                    <hr>
                                    <div class="role">First Visit: <b><%= Patient.dateAdded %></b></div>
                                    <div class="id">Patient ID: <b><%= Patient.pID %></b> </div>
                                    <div class="contact"> Contact: <b><%= Patient.contact %></b></div>
                                    <div class="address"> Address: <b><%= Patient.address %></b></div>
                                </div>
                            </a>
                        <% }) %> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("./partials/footer") %> 